<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Edit profile</title>
	<link rel="stylesheet" href="css/style.css">

  <form method="post" action=/update_user class="login">
		First:<br><input type='text' name='first' value="{{user.firstname}}"><br>
        Email:<br><input type='text' name='email' value="{{user.email}}"><br>
        Like mobile:<br><input type='text' name='like' value="{{user.like_mobile}}"><br>
        My mobile:<br><input type='text' name='my' value="{{user.my_mobile}}"><br>
        <input type='submit' value='Ok'>
</head>
<body>



  </form>
</body>
</html>
