<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Main page</title>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>


  <form method="post"  class="login">
	
   <a href="http://localhost:65010/me">About me</a>
    <br>
    <a href="http://localhost:65010/edit_user">Edit profile</a>
    <br>
    <a href="http://localhost:65010/remove_user">Remove profile</a>
    <br>
    <a href="http://localhost:65010/sneakers">Sneakers by id</a>
    <br>
    <a href="http://localhost:65010/logout">Logout</a>

  </form>
</body>
</html>
