<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>My mobiles</title>
	<link rel="stylesheet" href="css/style.css">

</head>
<body>


  <form method="post"  class="login">
	
 {% for mobile in mobiles %}
    <ul>
        <li>
            {{mobile.firm}}
            <br>
            {{mobile.model}}
            <br>
            {{mobile.color}}
            <br>
            {{mobile.cost|string}}
            <br>
            {{mobile.description}}
        </li>
    </ul>
    {% endfor %}

  </form>
</body>
</html>
